---
---
<!DOCTYPE html>
<html lang="ja">
<head>
      <!-- 開催予定の演奏会 -->
      {% assign sorted_events = site.data.events | sort: "date" %}
      {% assign upcoming_count = 0 %}

      {% for concert in sorted_events %}
        {% if concert.status == "announced"
          or concert.status == "accepting"
          or concert.status == "closed" %}

          <div class="card">
            {% if concert.type == "regular" %}
              <h2 class="heading">
                <a href="concert.html">定期演奏会のお知らせ</a>
              </h2>
            {% else %}
              <h2 class="heading">その他演奏会のお知らせ</h2>
            {% endif %}

            {% include event-details.html event=concert %}
          </div>

          {% assign upcoming_count = upcoming_count | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% if upcoming_count == 0 %}
        <div class="card">
          <h2 class="heading">演奏会のお知らせ</h2>
          <p>今後の演奏会については、決まり次第お知らせします。</p>
        </div>
      {% endif %}
      <div class="card">
        <h2 class="heading">ご支援</h2>
        <p>
          <a href="https://www.u-fukui.ac.jp/kikin/">福井大学基金</a>を通じてサークルへご寄附いただけます。
          メリットとして税制上の優遇措置等があります。
        </p>
        <p>
          ご寄附の方法は<a href="https://www.u-fukui.ac.jp/kikin/lk04/">こちら</a>をご確認ください。<br>
          なお、ご寄附の際は「③卓越高度専門職業人育成：研究支援事業」をお選びいただき、
          通信欄やメッセージ欄で「フィルハーモニー管弦楽団」へのご寄附とご指定ください。
        </p>
      </div>

    </div>
  </div>
  <!-- ===== /TOPページ: 3カラムカード ===== -->


  <!-- ===== フッター ===== -->
  <footer>
    <div class="footer-container">
      <div class="footer-item">
      <h4>福井大学フィルハーモニー管弦楽団</h4>   
      <p>
        〒910-0017<br>
        福井県福井市文京3丁目9-1<br>
        Gmail: fukudaiphil@gmail.com
      </p>
    </div>

    <div class="footer-item">
      <h4>新入生向け</h4>
      <a href="activity.html">福大フィルとは</a>
      <a href="welcome.html">新歓情報</a>
    </div>

    <div class="footer-item">  
      <h4>ツール</h4>
      <a href="https://matsu-neco.github.io/pult-chart-tool/">プルト表作成ツール</a>
    </div>

    <div class="footer-item">
      <a href="https://twitter.com/fukudaiphil">
        <img src="Xふぃる.png" alt="X（旧Twitter） @fukudaiphil">
      </a>

      <a href="https://www.instagram.com/fukudaiphil/">
        <img src="インスタふぃる.png" alt="Instagram @fukudaiphil">
      </a>
    </div>
    </div>
    
  </footer>
  <!-- ===== /フッター ===== -->


  <!-- JavaScript: jQueryとハンバーガーメニュー -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="menu.js"></script>

</body>
</html>
