  <footer>
    <div class="footer-container">

      <div class="footer-item">
        <h4>福井大学フィルハーモニー管弦楽団</h4>
        <p>
          〒910-0017<br>
          福井県福井市文京3丁目9-1<br>
          メール：<a href="mailto:fukudaiphil@gmail.com">fukudaiphil@gmail.com</a>
        </p>
      </div>

      <div class="footer-item">
        <h4>新入生向け</h4>
        <a href="{{ '/about.html' | relative_url }}">団の紹介</a>
        <a href="{{ '/welcome.html' | relative_url }}">新歓情報</a>
      </div>

      <div class="footer-item">
        <h4>ツール</h4>
        <a href="https://matsu-neco.github.io/pult-chart-tool/">
          プルト表作成ツール
        </a>
      </div>

      <div class="footer-item">
        <a href="https://twitter.com/fukudaiphil">
          <img src="{{ '/assets/images/common/x-banner.png' | relative_url }}" alt="X（旧Twitter） @fukudaiphil">
        </a>
        <a href="https://www.instagram.com/fukudaiphil/">
          <img src="{{ '/assets/images/common/instagram-banner.png' | relative_url }}" alt="Instagram @fukudaiphil">
        </a>
      </div>

    </div>
  </footer>
